::-webkit-scrollbar {
  display: none;
}

.active-users-dot {
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 10px;
}
/* 
body {
  overflow-y: hidden;
} */

/* navbar styles */

.exit-button-text {
  font-size: 20px;
}

.nav-header {
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .exit-button-text {
    font-size: 11px;
  }
  .nav-header {
    font-size: 15px;
  }
}

/* chatbody styles */

.message-text {
  font-size: 1.3rem;
}

.arrow-down {
  top: 77px;
  right: 15px;
  z-index: 100;
}

.range-setter {
  top: 137px;
  right: 15px;
  z-index: 100;
}

.username {
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .message-text {
    font-size: 0.9rem;
  }

  .username {
    font-size: 0.9rem;
  }

  .modal-header,
  .modal-label,
  .modal-submit-text {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .arrow-down {
    bottom: 100px;
    z-index: 100;
  }

  .range-setter {
    bottom: 80px;
  }

  .range-setter span {
    font-size: 12px;
  }

  .arrow-img {
    height: 15px;
    width: 15px;
  }
}

/* messaging box styles */

.message-typer {
  padding: 19px;
}

.message-component {
  background-color: #1a202c;
}

.arrow-img {
  height: 20px;
  width: 20px;
}

@media (max-width: 500px) {
  .message-typer {
    padding: 17px;
  }
  .message-component {
    position: sticky;
    bottom: 35px;
  }
}

/* Users Drawer styles */

.show-active-users {
  font-size: 1rem;
}

@media (max-width: 600px) {
  .show-active-users {
    font-size: 0.8rem;
  }
}

/* chat-images */
.chat-img {
  max-width: 500px;
  max-height: 500px;
}

@media (max-width: 700px) {
  .chat-img {
    max-width: 250px;
    max-height: 250px;
  }
}
